package views


import "keepnotesweb/db/sqlc"
templ FolderList(folders []db.Folder) {
    <ul>
        for _, folder := range folders {
            <li>{folder.Name} - {folder.ID}</li>
        }
    </ul>
}

templ FolderPage(folders []db.Folder) {
<html>
    <body>
        <h1>Lista de Carpetas</h1>
            @FolderList(folders)
        </body>
    </html>
}